body {
    text-align: center;
  
    color: #030f00; 
    padding: 20px;
     background: linear-gradient(90deg, #7ddd6d, #ff00ea);
}

#board {
    width: 540px;
    height: 540px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #050505; 
   
 
}

#board div img {
    height: 100px;
  
    margin-bottom: 20px;
}

#board div {
    width: 180px; 
    height: 180px;
    background-image: url("./pipe.png");
    background-size: cover;
}