body {
    text-align: center;
    background-color: #000000; 
    color: #39FF14; 
    padding: 20px;
}

#board {
    width: 540px;
    height: 540px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #050505; 
    border: 3px solid #39FF14;
    border-radius: 25px;
}

#board div img {
    height: 100px;
  
    margin-bottom: 20px;
}

#board div {
    width: 180px; 
    height: 180px;
    background-image: url("./pipe.png");
    background-size: cover;
}