body {
    text-align: center;
    background-color: #000000; 
    color: #39FF14; 
    padding: 20px;
     
}

#board {
    width: 540px;
    height: 540px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #050505; 
    border: 3px solid #39FF14;
    border-radius: 25px;
}

#board div img {
    height: 100px;
  
    margin-bottom: 20px;
}

#board div {
    width: 180px; 
    height: 180px;
    background-image: url("./pipe.png");
    background-size: cover;
}
h1 {
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
    background: linear-gradient(90deg, #7ddd6d, #ff00ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
h2{
    font-size:xx-large;
}